h3 {
  color: #0109f4; 
  font-style: italic;
  font-family: 'Source Sans Pro', sans-serif;
  
   }

h1 {
  font-family: 'Hurricane', cursive
  font-size: 200px
  }
body{
  background-color: #fbf8da;
}
hr {
  
  width: 50%;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  
}
td {
  font-size: 100%;
  font-style: italic;
  font-family: 'Roboto Condensed', sans-serif;
}
.marriage_pic {
  position: relative;
  left: 200px;
  bottom: 400px
}
h3:hover {
  color: #cd5b83; 
}
div {
  position: relative;
  left: 100px;  
}
.fountain_pic {
  position: relative;
  left:500px;
  bottom:300px;
}
.stylish {
  position: absolute;
  top: 100px;
  right: 100px;
}
.simple {
  position: absolute;
  left: 500px;
  bottom: 100px;
}
p {
  font-family: 'Lato', sans-serif
}
